.vxe-table {
  height: fit-content;
  overflow: hidden;
  position: relative;
}

:deep(.vxe-table--render-wrapper) {
  /* display: flex;
    flex-direction: column;
    position: relative; */
  height: 100%;
}

:deep(.vxe-table--main-wrapper) {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: relative; */
}

:deep(.vxe-table--header-wrapper) {
  /* overflow: hidden; */
  flex-shrink: 0;
}

:deep(.vxe-table--body-wrapper) {
  flex: 1;
  /* position: relative; */
}

:deep(
    .vxe-table--render-default .vxe-table--body-wrapper.fixed-right--wrapper
  ) {
  height: 100%;
}
